@import url(normalize.css);
@import url("http://fonts.cdnfonts.com/css/circular-std");
@import url("http://fonts.cdnfonts.com/css/google-sans");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
